/*==================////====================*/

.header {
  background-color: var(--main-white);
}

.navigation {
  display: flex;
}

.navigation .list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
}

.logo,
.list-item button,
.list-item a {
  padding-top: 40px;
  padding-bottom: 40px;
}

.list-item:not(:last-child) {
  margin-right: 120px;
}

.list-item button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

/* button {
  text-transform: inherit;
  font-weight: inherit;
} */

button:hover,
button:focus,
.navigation .link:hover,
.navigation .link:focus,
.footer-nav-list a:hover,
.footer-nav-list a:focus,
.copy-list a:hover,
.copy-list a:focus,
.social-list a:hover,
.social-list a:focus {
  color: var(--main-red);
}
.list-item img {
  margin-right: 12px;
}

.navigation .list-item:first-child {
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.navigation .list-item:last-child {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.navigation .list-item:nth-child(2) {
  font-size: 15px;
}
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-search {
  fill: currentColor;
}

.social-list {
  color: var(--main-white);
  display: flex;
  cursor: pointer;
}

.social-list li:not(:last-child) {
  margin-right: 50px;
}

/*--------hero---------*/
.hero {
  background: url(../images/image1.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1400px 675px;
}

.hero .flexbox {
  display: flex;
  padding-top: 100px;
  padding-bottom: 821px;
}

.flexbox .headline {
  width: 570px;
  margin-right: 60px;

  font-size: 45px;
  line-height: 1.2;
  color: var(--main-black);
}

.flexbox .text {
  font-size: 20px;
  line-height: 1.4;
  color: var(--main-black);
}

/*---------benefits----------*/
.benefits {
  background-color: var(--background-color);
  padding-top: 150px;
  padding-bottom: 150px;
}

.benefits-list {
  display: flex;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.57;
}

.benefits-item {
  flex-basis: calc((100% - 180px) / 4);
  margin-right: 60px;
}

.list .benefits-item:nth-child(4n) {
  margin-right: 0px;
}

.benefits-list .numbers {
  font-size: 75px;
  line-height: 1;

  color: #f2353f;
}

.benefits-item > .text {
  max-width: 155px;
}

.decor-line::before {
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  margin-top: 17px;
  margin-bottom: 20px;
  background-color: #b0b6bf;
}

/*----------cnt-------------*/
.cnt {
  margin-top: 200px;
  margin-bottom: 200px;
}

.cnt .text-item {
  width: 885px;
  font-size: 27px;
  line-height: 1.4;
  color: var(--main-black);
}

/*----------video---------*/
.video {
  background: url(../images/video-post.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px 675px;
  height: 675px;
}

/*--------features------------*/

.features {
  margin-top: 200px;
}

.icon-size {
  width: 70px;
  height: 70px;
  fill: #e52322;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  flex-basis: calc((100% - 180px) / 4);
  margin-right: 60px;
  margin-bottom: 60px;

  min-height: 255px;

  font-weight: normal;
  font-size: 19px;
  line-height: 1.32;
}

.list .feature-item:nth-child(4n) {
  margin-right: 0px;
}

.list .feature-item:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.feature-item-link {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  height: 255px;
}

.feature-item p {
  margin-top: 53px;
}

.feature-item-link:hover,
.feature-item-link:focus {
  background-color: #e52322;
  color: var(--main-white);
}

.feature-item-link:hover .icon,
.feature-item-link:focus .icon {
  fill: var(--main-white);
}

/*----------------------------------*/
.history {
  background-color: var(--background-color);
}

.history .box {
  display: flex;
  padding-top: 190px;
  padding-bottom: 847px;

  background: url(../images/image2.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1400px 675px;
}

.box-caption {
  width: 255px;
}

.box-caption .caption {
  font-weight: 500;
}

.box-list {
  width: 570px;
  margin-left: auto;
}

.history-list {
  display: flex;
  flex-direction: column;

  line-height: 1.5;
  color: var(--main-black);
}

.history-list .year {
  margin-bottom: 15px;
  font-size: 27px;
  color: var(--main-red);
}

.history-list-item {
  margin-bottom: 78px;
}

.history-list-item:last-child {
  margin-bottom: 0px;
}

/*---------equipment--------------------------------------------------------*/
.equipment {
  margin-top: 200px;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  /* padding: 18px; */
  padding-top: 27px;
  padding-bottom: 33px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  border-top: 1px solid #b0b6bf;
}
.collapsible .number {
  margin-right: 70px;
  font-size: 16px;
  color: #b0b6bf;
}

.equipment .content-title {
  margin-left: 355px;
  font-size: 16px;
  line-height: 1;
  color: #b0b6bf;
}

.active,
.collapsible:hover,
.collapsible:focus,
.collapsible:hover .content-title,
.collapsible:focus .content-title,
.collapsible:hover .number,
.collapsible:focus .number,
.collapsible:hover::after {
  background-color: white;
  color: var(--main-red);
}

.collapsible:after {
  content: "\002B";
  color: var(--main-black);
  font-weight: bold;
  float: right;
  margin-right: 20px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--main-white);
  position: relative;
}

.equipment .content-text {
  position: absolute;
  width: 550px;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  line-height: 1.5;
}

.content-text p {
  margin-top: 20px;
}

/*====================works=================*/
.works-list {
  display: inline-flex;
}
/*------------order----------------*/
.order {
  margin-top: 200px;
  margin-bottom: 200px;
}
.order .caption {
  padding-bottom: 34px;
}
.order-text {
  width: 340px;
  font-size: 20px;
  line-height: 1.4;
}

.order-box {
  display: flex;
  justify-content: space-between;
}

.order-item {
  flex-basis: calc(100% / 2);
  /* margin-right: 60px; */
}

.order-form {
  display: flex;
  flex-direction: column;
}

.order .form-input {
  font-family: var(--main-font);
  border: none;
  background-color: #fff;
  /* height: 80px; */
  font-size: 20px;
  line-height: 1.4;
  border-bottom: 1px solid #b0b6bf;
  padding-top: 45px;
  padding-bottom: 15px;
}

.form-input::placeholder {
  color: var(--placeholder-text-color);
  font-size: 18px;
  line-height: 1;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  padding: 34px 10px 9px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border-bottom: 1px solid #b0b6bf;
  color: var(--main-black);
  background-color: var(--main-white);
  display: inline-block;
  cursor: pointer;
  transition: color 250ms linear;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: red;
}

.order-form .button {
  margin-top: 42px;
  background-color: var(--main-white);
  border: 1px solid var(--button-border-color);
  transition: color 250ms linear, background-color 250ms linear;
}

.order-form .button:hover,
.order-form .button:focus {
  color: var(--main-white);
  background-color: var(--main-red);
}
.box {
  display: inline-flex;
}

.order-form .text-accept {
  display: block;
  width: 274px;
  margin-bottom: 0;
  margin-top: 51px;
  margin-left: 60px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-transform: none;
  color: #b0b6bf;
}
