.button {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--main-black);
  padding: 22px 44px 21px 44px;
  border: 1px solid var(--button-border-color);
  transition: color 250ms linear, background-color 250ms linear;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--main-white);
  background-color: var(--main-red);
}
