.page-header {
  background-color: var(--main-white);
}

.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.logo,
.navigation__item {
  padding-top: 40px;
  padding-bottom: 40px;
}

.navigation__item:not(:last-child) {
  margin-right: 120px;
}

.navigation__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;

  &:hover,
  &:focus {
    color: var(--main-red);
  }
}

.navigation__item:first-child {
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.navigation__item:last-child {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.navigation__item:nth-child(2) {
  font-size: 15px;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.icon-search {
  margin-right: 12px;
  fill: currentColor;
}
/*=================*/
.link:hover,
.link:focus,
.footer-nav-list a:hover,
.footer-nav-list a:focus,
.copy-list a:hover,
.copy-list a:focus,
.social-list a:hover,
.social-list a:focus,
a:hover,
a:focus {
  color: var(--main-red);
}
