:root {
  --main-font: "TT Norms", sans-serif;
  --main-red: #e52322;
  --main-grey: #b0b6bf;
  --main-black: #1f2c37;
  --main-white: #ffffff;
  --background-color: #f2f4f7;
  --placeholder-text-color: #1f2c37;
  --button-border-color: #f2353f;
  --grid-num: 4;
}
